<h3>Properties</h3>
{{#each model.properties as |property|}}
	{{#unless property.isNew}}
		{{inline-property-editor property=property}}
	{{/unless}}
{{/each}}

<h3>New Property</h3>
{{input value=model.newProperty.name}} <button {{action 'saveNewProperty' model.newProperty}}>Save</button>